# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# React Native
android/
ios/
build/

# Misc
.DS_Store
.env
.env.*

# Metro
metro-cache/

# VSCode
.vscode/
